<div class="row">
  <div class="col">
    <ol class="list-group">
      <li *ngFor="let todo of todos" class="list-group-item">
        {{ todo.name }} : {{ todo.description }}
        <i
          (click)="deleteTodo(todo)"
          class="fa fa-trash" aria-hidden="true"></i>
      </li>
    </ol>
  </div>
  <div class="col">
    Name :
    <input type="text" [(ngModel)]="todo.name" class="form-control mb-2" />
    Description : Description :
    <input
      type="text"
      [(ngModel)]="todo.description"
      class="form-control mb-2"
    />
    <button
      (click)="addTodo()"
      [disabled]="!todo.name.trim().length || !todo.description.trim().length"
      class="btn btn-primary"
    >
      Add Todo
    </button>
  </div>
</div>
<div class="row">
  <app-color></app-color>
</div>

