<p [ngStyle]="{
  color: color,
  fontFamily: font,
  fontSize: size + 'px'
}">mini-word works!</p>

<div class="row">
  <div class="col">
    <input [(ngModel)]="color" type="color" class="form-control" />
  </div>
  <div class="col">
    <input
    [(ngModel)]="size"
    type="number" class="form-control" />
  </div>
  <div class="col">
  <select
  [(ngModel)]="font"
  class="form-control">
      <option value="verdana">Verdana</option>
      <option value="arial">Arial</option>
      <option value="garamond">Garamond</option>
  </select>
  </div>
</div>
